Source: pdfium
Priority: optional
Maintainer: Nathan Stitt <nathan@stitt.org>
Build-Depends: build-essential, debhelper (>= 8.0.0), gyp (>= 0.1~svn1729-3ubuntu1)
Standards-Version: 3.9.4
Section: libs
Homepage: https://code.google.com/p/pdfium/
Vcs-Git: https://pdfium.googlesource.com/name
Vcs-Browser: https://pdfium.googlesource.com

Package: libpdfium-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}
Description: development files for the PDFium renderer
 PDFium is an open-source PDF rendering engine.
 It's the library that enables viewing PDFs in
 the Chrome web browser
 
