#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

NUMJOBS=2
ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
        NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
endif

override_dh_auto_build:
	./build/gyp_pdfium
	BUILDTYPE=Release CFLAGS="-fPIC" CXXFLAGS="-fPIC" make pdfium_test -j$(NUMJOBS)
	sh ./make-libs out/Release


override_dh_auto_clean:
	if [ -d out ]; then rm -rf out; fi
	dh_quilt_unpatch
	rm -rf Makefile v8/out/Makefile v8/out/environment
	find -name '*.mk' -exec rm {} \;
	find -name '*.pyc' -exec rm {} \;


override_dh_strip:

%:
	dh $@
